html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.container_content_limit {
    flex: 1 0 auto; 
}

footer {
    flex-shrink: 0;
}

#limit{
    margin-top: 40px;
}

.legal_notice_title{
    font-size: 64px;
    color: var(--secondary-text);
}

.legal_notice_content{
    margin-top: 50px;
}

.legal_notice_block h2{
    font-size: 18px;
    color: var(--primary-text);
    text-align: start;
    margin-bottom: 6px;
}

.legal_notice_block{
    font-size: 16px;
    color: var(--secondary-text);
    margin-top: 20px;
}

.legal_notice_block ul{
    margin-top: 16px;
    margin-left: 16px;
}

.legal_notice_date{
    margin-top: 20px;
    color: var(--secondary-text);
}

a{
    color: var(--secondary-text);
}

#footer_list a, #menu_list a{
    color: var(--primary-text);
}

@media (max-width: 750px) {
    #limit{
        padding: 0px;
    }

    .legal_notice_title{
        font-size: 32px;
    }

    .container_content_limit {
        margin-left: 8px;
        margin-right: 8px;}
}